<h1>
  <% if current_user == @user %>
    Your
  <% else %>
    <%= @user.name %>
  <% end %>
  private events
</h1>
<h2>Events created</h2>
<%= render "shared/event_list", events: @user.created_events %>
<% if current_user == @user %>
  <h2>Events going</h2>
  <%= render "shared/event_list", events: @user.attended_events %>
<% end %>
