<ol>
  <% events.each do |event| %>
    <li>
      <ul>
        <li>
          Event name: <%= event.name %>
        </li>
        <li>
          Created by: <%= event.creator.email %>
        </li>
        <li>
          <%= link_to "More info", event_path(event.id) %>
        </li>
        <li>
          <% if event.attendees.include?(current_user) %>
            You're coming!
          <% else %>
            <%= link_to "Attend", attend_path(event.id) %>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
</ol>

